#nav-bar {
			background-color: #D3D3D3;
			padding: 10px;
		}
		ul {
			list-style: none; /* removes bullets */
			margin: 0;
			padding: 0;
		}
		li {
			display: inline; /* makes items horizontal */
			margin-right: 1rem; /* spacing between items */
		}